---
import { getEntry, render } from 'astro:content';
 import { getImage } from 'astro:assets';
import Layout from '../../layouts/base.astro'

const { slug } = Astro.params;
if (!slug) { throw new Error('Missing slug parameter') }

const entry = await getEntry<'blog', string>('blog', slug);
if (!entry) throw new Error(`No blog found for slug: ${slug}`)

const { Content } = await render(entry);
const { data } = entry;
---
<Layout
    title={data.title}
    description={data.summary}>

    <section class="section section--darkest">
		<div class="section__inner">
			<h1>{data.title}</h1>
			<p>{data.summary}</p>
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->

    <section class="section section--lightest">
		<div class="section__inner">
			<Content />
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->	

</Layout>