---
import { getEntry, render } from 'astro:content';
 import { getImage } from 'astro:assets';
import Layout from '../../layouts/base.astro'

const { slug } = Astro.params;
if (!slug) { throw new Error('Missing slug parameter') }

const entry = await getEntry<'blog', string>('blog', slug);
if (!entry) throw new Error(`No blog found for slug: ${slug}`)

const { Content } = await render(entry);
const { data } = entry;
---
<Layout
    title={data.title}
    description={data.summary}
    hero={data.hero}
    showCTA={true}>

    <section class="section section--fade-reverse">
		<div class="section__inner section__inner--slim">
			<p class="breadcrumb">
				<a href="/">Home</a> / 
				<a href="/blog/">Blog</a> / 
				{data.title}
			</p>
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->

    <section class="section section--darkest">
		<div class="section__inner">
			<h1>{data.title}</h1>
			<p class="u-measure">{data.summary}</p>
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->

    <section class="section section--fade">
		<div class="section__inner">
            <div class="u-measure typography">
			    <Content />
            </div>
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->	

</Layout>