---
import { getEntry, render } from 'astro:content';
import Layout from '../../layouts/base.astro'
import Related from '../../components/Related.astro'

const { slug } = Astro.params;
if (!slug) { throw new Error('Missing slug parameter') }

const entry = await getEntry<'case-studies', string>('case-studies', slug);
if (!entry) throw new Error(`No case study found for slug: ${slug}`)

const { Content } = await render(entry);
const { data } = entry;
// console.log(data)
// const image = await getImage({ src: data.hero, width: 1000, height: 800, format: 'avif' });
---
<Layout 
  title={data.title}
  description={data.summary}
  hero={data.hero} 
  showCTA={true} 
  >

  	<section class="section section--fade-reverse">
		<div class="section__inner section__inner--slim">
			<p class="breadcrumb">
				<a href="/">Home</a> / 
				<a href="/case-studies/">Case Studies</a> / 
				{data.title}
			</p>
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->

	<section class="section section--darkest">
		<div class="section__inner">
			<h1>{data.title}</h1>
			<p class="u-measure">{data.summary}</p>
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->

	<section class="section section--fade">
		<div class="section__inner grid grid--two-thirds-one-third">
		
			<div class="typography">
				<Content />
				<p><a class="button button--green" target="_blank" href={data.www} target="_blank">View website</a></p>
			</div>
			<aside class="section__aside typography">
				
				<div class="browser well well--full well--dark">
					<div class="browser">
						<div class="browser__header">
							<span class="browser__control browser__control--close">●</span>
							<span class="browser__control browser__control--min">●</span>
							<span class="browser__control browser__control--max">●</span>
						</div>
						<div class="browser__window">
							<img src={data.screenShot}>
						</div>
					</div>
				</div>

				<div class="well well--dark">
					<h3 class="well__heading">Services</h3>
					<ul>
						{data.services.map((service) => (
							<li>{service}</li>
						))}
					</ul>
				</div>
				<div class="well well--dark">
					<h3 class="well__heading">Tech Stack</h3>
					<ul>
						{data.techStack.map((tech) => (
							<li>{tech}</li>
						))}
					</ul>
				</div>

				<div class="well well--dark">
					<h3 class="well__heading">Learn more</h3>
					<ul>
						<li><a href="/blog/how-we-use-ai/">How we work with AI</a></li>
						<li><a href="/blog/a-guide-to-no-code/">What is No-Code?</a></li>
					</ul>
				</div>				
				
			</aside>
		</div> <!-- /.section__inner -->
	</section> <!-- /.section -->	

	<section class="section section--fade">
		<div class="section__inner">
			<h2>Related Work</h2>
			<Related 
				collection="case-studies"
				slugs={data.related} />
		</div>
	</section>

</Layout>